{% extends "base.html" %}
{% block content %}
<h1>A small collection of annotated sentences for Sranan Tongo</h1>
<p>Users can find here sentences extracted from reliable sources for the study of Sranan Tongo. The main sources are the following:
<ul>
  <li>Nickel Marilyn, Wilner John (1984) Papers on Sranan Tongo</li>
  <li>Winford Donald, Plag Ingo (2013) Sranan structure dataset</li>
  <li>Wilner John (2007) Wortubuku fu Sranan Tongo</li>
</ul>
</p>
<p>A sentence goes through three different stages:</p>
<p>The first stage corresponds to the raw sentence without annotations with its corresponding English and/or Dutch translations and attribution to the author.
Users can contribute to the project by annotating the sentences with part-of-speech (POS) tags and to indicate the dependencies between them.
Once submited, the annotated sentence goes to a second stage of revision, where still changes can be made.
After revision, the annotated sentence reaches the final stage and becomes part of the dataset.</p>
{% endblock content %}
