{% extends 'base.html' %}
{% block content %}
<h1>Natural language processing (NLP) tools for Sranan Tongo</h1>
<p>Sranan Tongo is the most widespread Creole of the Republic of Surinam in South America.
As many other Atlantic creoles, it emerged among the slaves that where brought to America to work on the plantations. Nowadays Sranan Tongo is spoken by more than four hundred thousand people in urban areas along the coastline of the country.
It is used as lingua franca between the different ethnic groups living in Surinam. It has also about two hundred thousands speakers in The Nederlands from the Surinamese diaspora.
</p>
<p>From a NLP perspective, Sranan Tongo is a low-resource language. This project is intended to facilitate the study of the Sranan Tongo from a statictical perspective and to provide linguistic data to developt, train and test stochastic models for this language.</p>
{% endblock content %}
